---
title: Partnerships
layout: default
bodyClass: page-team-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Our Partners and Supporters</h1>
        <p>
          The possibilities for support are manyfold (partnership). Many of our former students contribute through their supportive work to the success of our activities. There are some who help in organizational tasks. Some of our former students as well as the parents of our current students offer financial support for our activities.
          </p>
          <p>
          Companies also support our activities. This support ranges from offering services, office space for free, to considerable financial support.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a>
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

