
<!--
<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
	<li style="color: white; font-variant: small-caps;">Group header</li>
    <li><a href="{{site.baseurl}}/services/" class="{% if page.url contains 'services' %}current{% endif %}">Services</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>

-->


<!--<div id="main-menu" class="main-menu">-->
<!--
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
	<ul>
		<li><a href="google.com" class="{% if page.url == '/' %}current{% endif %}">Google</a></li>
	</ul>
    <li><a href="{{site.baseurl}}/services/" class="{% if page.url contains 'services' %}current{% endif %}">Services</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
-->

<!--
<ul>
{% for item in site.menus.header %}
  <li class="menu-item-{{ loop.index }}">
    <a href="{{ item.url }}" title="Go to {{ item.title }}" class="{% if page.url contains 'contact' %}current{% endif %}">{{ item.title }}</a>
    {% if item.children %}
      <ul class="sub-menu">
      {% for item in item.children %}
        <li class="menu-item-{{ loop.index }}">
          <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
</div>

-->



<!--<script src="/assets/js/scripts.js"></script>-->
<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
	{% for item in site.data.navigation.toc %}
      {% if item.sublinks[0] %}
        <li class="main-menu-mobile-skip" style="color: white; font-variant: small-caps;">{{item.title}}</li>
        
        {% for entry in item.sublinks %}
		  <li class="main-menu-mobile-text"><a href="{{site.baseurl}}/{{entry.url}}/">{{entry.title}}</a> </li>
		{% endfor %}
        
		<!--<li class="dropdown">
			<a href="#" class="dropdown-toggle otherProgLangs" data-toggle="dropdown" onclick="myFunction('{{item.id}}')" id="btn-{{item.id}}">{{item.title}}<b class="caret"></b></a>
			
			<ul class="dropdown-menu dropdown-content" id="dropdown-{{item.id}}">
				{% for entry in item.sublinks %}
				  <li><a href="{{site.baseurl}}/{{entry.url}}/">{{entry.title}}</a> </li>
				{% endfor %}
				
			</ul>
    	</li> -->
      {% else %}
        <li class="main-menu-mobile-skip"><a href="{{site.baseurl}}/{{item.url}}/" class="{% if page.url == '/' %}current{% endif %}">{{item.title}}</a></li>
      {% endif %}
      
    {% endfor %}
    
  </ul>
</div>

