---
layout: default
---

<div class="strip strip-white strip-diagonal">
  <div class="container pt-4 pt-md-10">
    <div class="row justify-content-start">
        
      <div class="col-12 col-md-8">
        <div class="service service-single">
            <!-- <div class="intro pb-4">
                <div class="container"> -->
                    <h1 class="title">{{page.title}}</h1>
             <!--   </div>
             </div> -->
          <!-- <h1 class="title">{{page.title}}</h1>
          <div class="content">{{page.content}}</div> -->
        </div>

        <div class="content">
        <p>We always teach our students using discovery-based learning methods, encouraging individual creative thinking. We give enough time so that students can figure out the solutions themselves. The emphasis is not on competing against others, but on solving interesting problems.</p>

        <p>We find it important that our students explore and experience the way towards asking great questions. We hope to develop their creativity and individuality this way, and help them see deeper connections.</p>

        <p>The Foundation was founded by mathematics teacher and mathematician Lajos Pósa, recipient of the Széchenyi and Prima prizes. Pósa has been organizing weekend camps for exceptionally talented students aged 12-18 since 1988. The Foundation's original purpose was to "institutionalize" this activity, and it has since been involved in many further talent development causes. We organize extracurricular classes, competitions, summer camps, mini camps, and tutoring sessions for disadvantaged students.</p>
        </div>
        
        <div class="container pt-2">
          <div class="call">
            <div class="call-box-top">
              <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
              <div class="call-email"><strong>Email: </strong>
                <a href="mailto:{{ site.data.contact.email }}">
                  {{ site.data.contact.email }}
                </a>
              </div>
            </div>
            <!-- <div class="call-box-bottom">
              <a href="{{site.baseurl}}/contact" class="button">Contact</a>
            </div> -->
          </div>
        </div>
        
        <!-- <div class="content">{{page.content | markdownify}}</div> -->
        
      </div>
    </div>
  </div>
</div>
