---
layout: default
---

<div class="strip strip-white strip-diagonal">
  <div class="container pt-4 pt-md-10">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <div class="service service-single">
          <h1 class="title">{{page.title}}</h1>
        </div>
        <div class="container pb-6">
            <div class="row">
                {% for teacher in site.founders %}
              <div class="col-12 col-md-12 mb-1">
                <div class="team team-summary">
                  {% if teacher.image %}
                  <div class="team-image">
                    <img
                      alt="{{ teacher.name }} logo"
                      class="img-fluid mb-2"
                      src="{{site.baseurl}}{{ teacher.image }}"
                    />
                  </div>
                  {% endif %}
                  <div class="team-meta">
                    <h5 class="team-name"><b>{{ teacher.name }}</b></h5>
                    <p class="team-description">{{ teacher.jobtitle }}</p>
                    <p> <a href={{ teacher.link }}>More information</a> </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
        </div>
        <div class="container pb-6">
          <div class="row">
              {% for teacher in site.teachers %}
            <div class="col-12 col-md-6 mb-1">
              <div class="team team-summary">
                {% if teacher.image %}
                <div class="team-image">
                  <img
                    alt="{{ teacher.name }} logo"
                    class="img-fluid mb-2"
                    src="{{site.baseurl}}{{ teacher.image }}"
                  />
                </div>
                {% endif %}
                <div class="team-meta">
                  <h5 class="team-name"><b>{{ teacher.name }}</b></h5>
                  <p class="team-description">{{ teacher.jobtitle }}</p>
                </div>
                <div class="team-content">{{ teacher.content }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
